.form{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 10px;
}
.form__row{
    width: 100%;
    margin-bottom: 45px;
}
.form__row:last-child{
    margin-top: 45px;
    margin-bottom: 0;
}
.form__input{
    border-radius: 10px;
    padding: 18px;
    border: 1px solid $green;
    width: 100%;
    background: #F2F0F0;
    font-size: 14px;
    line-height: 17px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
}

.form__input--display-none{
    display: none;
}
.form__input--select{
    border-radius: 10px;
    padding: 18px;
    border: 1px solid $green;
    width: 100%;
    background: #F2F0F0;
    font-size: 14px;
    line-height: 17px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url(../src/images/arrow.svg) 95% no-repeat;
    cursor: pointer;
}

.form__input--select::-ms-expand { //for IE
    display: none; 
    background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSdibGFjaycgaGVpZ2h0PScyNCcgdmlld0JveD0nMCAwIDI0IDI0JyB3aWR0aD0nMjQnIHhtbG5zPSdodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2Zyc+PHBhdGggZD0nTTcgMTBsNSA1IDUtNXonLz48cGF0aCBkPSdNMCAwaDI0djI0SDB6JyBmaWxsPSdub25lJy8+PC9zdmc+);}


.form__button{
    background: $green;
    border-radius: 10px;
    border: none;
    font-size: 24px;
    line-height: 29px;
    width: 315px;
    height: 48px;
    margin: 0 auto;
    display: block;
    transition: opacity .5s;
    cursor: pointer;
}
.form__button:hover{
    opacity: 0.9;
}
