.password-recall{
    text-align: center;
    font-size: 14px;
    line-height: 17px;
    text-decoration-line: underline;
    margin-bottom: 40px;
}
.password-recall a{
    color: rgb(85, 175, 226);

    transition: all .5s;
}
.password-recall a:hover{
    color: #0A8ED9;
    transition: all .5s;
}
