* {
    margin: 0;
    padding: 0;
}
html {
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}
html,
body {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    color: $textcolor;
    width: 100%;
    overflow-x: hidden;
}
ul, li{
    list-style: none;
    margin: 0;
}
textarea:focus, input:focus, select:focus{
    outline: none;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
.content {
flex: 1 0 auto;
display: flex;
flex-direction: column;
}
.footer {
flex: 0 0 auto;
}
.title {
    font-size: 36px;
    line-height: 44px;
    user-select: none;
    &--bold{
        font-size: 29px;
        line-height: 37px;
        font-weight: bold;
    }
}