.container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    max-width: 1440px;
    padding-left: 40px;
    margin: 0 auto;
}
.main__container {
    padding-top: 55px;
    padding-left: 160px;
    padding-bottom: 55px;
}