.all-requests{
    display: block;
    padding: 15px 0;
    overflow-y: auto; 
    max-height: 750px;
    font-size: 18px;
    line-height: 22px;
    color: $textcolor;

    .request{
        padding: 25px;
        border-bottom: 2px solid $placeholder;
        display: flex;
        flex-direction: column;
        &:first-child{
            margin-top: -15px;
        }
    }

    .row {
        margin-bottom: 25px;;
    }
    .row--right{
        align-self: flex-end;
        margin-bottom: -50px;
    }
    .request-info{
        margin-bottom: 10px;
    }
    .request-options{
        display: flex;
        justify-content: flex-end;
        .delete-request{
            width: 25px;
            height: 25px;
            background-image: url(../src/images/delete.svg);
            background-repeat: no-repeat;
            background-position: 100% 0%;
            font-size: 0;
            margin-right: 15px;
            cursor: pointer;
        }
        .edit-request{
            width: 25px;
            height: 25px;
            background-image: url(../src/images/pencil.svg);
            background-repeat: no-repeat;
            background-position: 100% 0%;
            font-size: 0;
            cursor: pointer;
        }
    }
}