.popup-wrapper{
    padding: 25px;
}
.close-popup{
    cursor: pointer;
}
.interview-result-form{
    padding: 25px;
   .result-comment{
        max-width: 75%;
        min-width: 350px;
        font-size: 18px;
        line-height: 22px;
    .form__input{
        margin-bottom: 15px;
    }
   }
}
