.info{
    display: flex;
    justify-content: space-between;
    margin: 15px;
}
.name{
    background-color: $app-grey;
    flex-basis: 75%;
    padding: 10px;
    border-radius: 10px;
    font-size: 24px;
    line-height: 29px;
    align-self: flex-start;
    min-height: 150px;
}
.photo-wrap {
    display: block;
    border: 10px solid $app-grey;
    border-radius: 7px;
    min-height: 350px;
    flex-basis: 220px;
    display: flex;
    justify-content: center;
    margin-left: 15px;

    img{
        display: block;
        width: 90%;
    }
}   
