$background-header-footer: #ABA9A1;
$background: #EDEDED;
$textcolor: #000000;
$green: #7D8754;
$placeholder: #7a8f99;
$sidebartext:#7D8754;
$sidebaractive: #D3D7CD;
$newrequest: #D0DCA0;
$popupbackground: #B0B0B0;
$app-grey: #e7e7e7;
$app-hover: #D5DCBA;


$error: #E15433;
$white: #ffffff;

@mixin phones {
  @media screen and (max-width: 480px) {
    @content;
  }
}

@mixin tablets {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin narrow {
  @media screen and (max-width: 1100px) {
    @content;
  }
}

@mixin widescreen {
  @media screen and (max-width: 1800px) {
    @content;
  }
}

@mixin PhoneLandscape {
  @media screen and (max-height: 500px) and (max-width: 900px) and (orientation:landscape) {
    @content;
  }
}

@mixin print {
  @media print {
    @content;
  }
}
